@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&display=swap');
:root {
  --black: #090625;
  --black2: #292645;
  --black3: #393655;
  --gray: #696685;
  --gray2: #8986a5;
  --gray3: #494665;
  --gray4: #a9a6c5;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: 'Oxygen mono', monospace;
  --sans: Oxygen, sans-serif;
}
/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3,
button,
a,
p,
img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--aqua);
}

a:hover {
  text-decoration: underline;
}
p,
a,
img {
  word-wrap: break-word;
}

.thread-input {
  display: block;
  margin: 20px auto;
  text-align: center;
}

input::placeholder {
  color: var(--gray);
  letter-spacing: 2px;
}

input:focus {
  outline: none;
}

.input-thread {
  letter-spacing: 1px;
  height: 45px;
  width: auto;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  border-radius: 12px;
  display: block;
  color: var(--white);
  background: var(--black2);
}

.Join-button {
  height: 45px;
  border: 0;
  width: auto;
  margin: 20px auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--white);
  background: -webkit-linear-gradient(right, #00fff4, #e700ff);
  animation: gradient-animation 4s ease infinite;
  font-size: 18px;
  font-weight: bold;
  background-size: 100%;
}

.logo-container {
  position: fixed;
  width: 100%;
  height: 350px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  z-index: -1;
}

.logo {
  position: fixed;
  margin: 92px auto;
  position: fixed;
  width: 150px;
  height: 150px;
  z-index: -1;
}

.ring {
  height: 340px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}

.center {
  margin: 0 auto;
}

.outer-ring {
  position: fixed;
  left: calc(50% - 150px);
  height: 300px;
  width: 300px;
  background-image: linear-gradient(
    135deg,
    #feed07 0%,
    #fe6a50 5%,
    #ed00aa 15%,
    #2fe3fe 50%,
    #8900ff 100%
  );
  border-radius: 50%;
  animation-duration: 2s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  z-index: -3;
}

.inner-ring {
  position: fixed;
  left: calc(50% - 140px);
  height: 280px;
  width: 280px;
  background-image: linear-gradient(0deg, var(--black), var(--black));
  border-radius: 50%;
  z-index: -3;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sub-container {
  width: 400px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.sub-container h3 {
  color: var(--gray);
  font-weight: bold;
}

.Popular-button {
  height: 45px;
  border: 0;
  width: auto;
  margin: 10px 25px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--white);
  background: -webkit-linear-gradient(left, #ff00ff, #090625);
  font-size: 18px;
  font-weight: bold;
  background-size: 100%;
}
.Popular-button-container {
  margin: 30px auto;
  max-width: 300;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.connect-wallet {
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 5;
  backdrop-filter: blur(10px);
}

.meta-mask-logo {
  position: fixed;
  margin: 92px auto;
  position: fixed;
  width: 150px;
  height: 150px;
  z-index: -1;
}
.meta-mask-button {
  margin: 400px auto;
  height: 55px;
  border: 0;
  padding: 0 40px 0 40px;
  border-radius: 15px;
  cursor: pointer;
  background: -webkit-linear-gradient(right, #00fff4, #e700ff);
  color: var(--white);
  font-size: 22px;
  font-weight: bold;
  background-size: 100%;
}

.connected-page {
  width: 100%;
  height: 100%;
}

.chat-container {
  display: grid;
  justify-content: center;
}

.message-container {
  width: 310px;
  height: auto;
  margin: 20px auto;
  display: block;
  border-radius: 15px;
  background: var(--black2);
  font-family: var(--sans);
}

.message-container img {
  padding: 5px;
  max-width: 300px;
  max-height: 300px;
}

.user-name {
  display: flex;
  justify-content: start;
  background: var(--black3);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: var(--gray4);
}

.user-name span {
  margin: 10px 10px 10px auto;
  color: var(--gray2);
  font-size: 20px;
}

.user-name p:first-child {
  font-size: 20px;
  margin: 7px;
}

#message {
  margin: 10px;
  font-size: 23px;
  color: var(--gray4);
}
.user-avatar {
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

.message-box {
  display: flex;
  justify-content: center;
}

.ipfs-file-button {
  margin: 10px;
  height: 35px;
  border: 0;
  padding: 0 30px 0 30px;
  border-radius: 15px;
  cursor: pointer;
  background: var(--gray4);
  color: var(--white);
  font-size: 22px;
  font-weight: bold;
  background-size: 100%;
}
.ipfs-file-container {
  display: flex;
  justify-content: center;
}

.ipfs-file-button a {
  color: var(--gray3);
}

.editor-container {
  position: fixed;
  bottom: 5px;
  width: 100%;
  margin: 15px auto;
  display: flex;
  justify-content: center;
}

.editor {
  width: 410px;
  background: var(--black2);
  border-radius: 15px;
}

.main-textarea {
  display: flex;
  justify-content: center;
}
.main-textarea textarea {
  margin-top: 10px;
  width: 95%;
  border-radius: 10px;
  letter-spacing: 1px;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border: 0;
  display: block;
  font-family: var(--sans);
  color: var(--gray4);
  background: var(--black);
}

textarea:focus {
  outline: none;
}
button:focus {
  outline: none;
}
textarea::placeholder {
  color: var(--gray);
  font-family: var(--sans);
}
textarea {
  resize: none;
}

.send-button-container {
  display: flex;
  justify-content: end;
  width: 100%;
}

.send-button {
  margin: 10px;
  height: 35px;
  border: 0;
  padding: 0 30px 0 30px;
  border-radius: 15px;
  cursor: pointer;
  background: var(--gray4);
  color: var(--white);
  font-size: 22px;
  font-weight: bold;
  background-size: 100%;
}

.send-button2 {
  margin: 10px auto 10px 10px;
  height: 35px;
  border: 0;
  padding: 0 10px 0 10px;
  border-radius: 15px;
  cursor: pointer;
  background: var(--gray4);
  color: var(--white);
  font-size: 22px;
  font-weight: bold;
  background-size: 100%;
}

.space-container {
  width: 100%;
  height: 220px;
}

::-webkit-scrollbar {
  width: 0;
}

.embed-container {
  width: 100%;
  padding: 5px;
}

.embed {
  border-radius: 15px;
}

@media (min-width: 850px) {
  .message-container {
    width: 700px;
  }
  .message-container img {
    padding: 20px;
    max-width: 650px;
    max-height: 650px;
  }
  .editor {
    width: 500px;
  }
  .embed-container {
    padding: 20px;
  }
}
.home {
  font-size: 20px;
  margin: 10px;
  height: 35px;
  border: 0;
  padding: 0 20px 0 20px;
  border-radius: 15px;
  cursor: pointer;
  background: -webkit-linear-gradient(right, var(--gray2), var(--black2));
  color: var(--white);
  font-size: 22px;
  font-weight: bold;
  background-size: 100%;
}

.home-container {
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  flex-flow: flex-start;
}
.switch {
  font-size: 20px;
  margin: 10px 10px 10px auto;
  height: 35px;
  border: 0;
  padding: 0 20px 0 20px;
  border-radius: 15px;
  cursor: pointer;
  background: -webkit-linear-gradient(right, var(--gray2), var(--black2));
  color: var(--white);
  font-size: 22px;
  font-weight: bold;
  background-size: 100%;
}

.switch img {
  padding: 5px 0 0 0;
  width: 20px;
  height: 23px;
}
